<h1 class="text-center mb-5 display-4">生産計画一覧</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-hover table-bordered text-center align-middle mx-auto">
          <thead class="table-light">
            <tr class="table-primary">
              <th>生産数</th>
              <th>実績</th>
              <th>可動率</th>
              <th>開始時刻</th>
              <th>終了予定時刻</th>
              <th>生産開始体制</th>
              <th>切り替え予定生産体制</th>
              <th>操作</th>
            </tr>
          </thead>

          <tbody>
            <% @production_plans.each do |plan| %>
              <tr>
                <td><%= plan.production_count %></td>
                <td><%= plan.actual %></td>
                <td><%= number_with_precision(plan.operation_rate, precision: 2) %> %</td>
                <td><%= plan.start_time.strftime("%H:%M") %></td>
                <td><%= plan.end_time.strftime("%H:%M") %></td>
                <td><%= plan.shift.name %></td>
                <td><%= plan.change_shift&.name %></td>
                <td class="d-flex justify-content-center">
                  <%= link_to '詳細', plan, class: "btn btn-primary btn-sm mx-1 px-3" %>
                  <%= link_to '編集', edit_production_plan_path(plan), class: "btn btn-secondary btn-sm mx-1 px-3" %>
                  <%= link_to '削除', plan, method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger btn-sm mx-1 px-3" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="text-center mt-4">
        <%= link_to '新規登録', new_production_plan_path, class: "btn btn-success btn-lg px-5 py-2" %>
      </div>
    </div>
  </div>
</div>
